@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.grecaptcha-badge {
  visibility: hidden;
  bottom: 56px !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* bulletsをカードの外側に表示させたいため、absoluteを解除する */
.skill-swiper .swiper-pagination {
  @apply relative top-0 mt-4;
}

.skill-swiper .swiper-pagination-bullet {
  margin: 0.5rem !important;
  @apply w-36 h-auto p-2 bg-gray-300 rounded-full font-semibold
    text-gray-800;
}

.skill-swiper .swiper-pagination-bullet-active {
  @apply bg-sky-500 text-gray-50;
}

/* 共通のカラーを定義 */
/* https://coolors.co/2c302e-06d6a0-1b9aaa-ef476f-474a48*/
:root {
  --color-primary: #1b9aaa;
  --color-secondary: #06d6a0;
  --color-danger: #ef476f;
  --color-body: #2c302e;
  --color-subbody: #474a48;
}
