@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

html {
  @apply scroll-smooth h-full;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* bulletsをカードの外側に表示させたいため、absoluteを解除する */
.skill-swiper .swiper-pagination {
  @apply relative top-0 mt-4;
}

.skill-swiper .swiper-pagination-bullet {
  @apply w-36 h-auto m-2 p-2 bg-gray-300 rounded-full font-semibold text-gray-800;
}

.skill-swiper .swiper-pagination-bullet-active {
  @apply bg-blue-500 text-gray-50;
}
